# SF Salaries Exercise

This exercise will help you practice in using pandas library. 

We will be using the [SF Salaries Dataset](https://www.kaggle.com/datasets/kaggle/sf-salaries) from Kaggle.

Now do the following tasks outlined below.

1. Import `pandas` library.

2. Read *Salaries.csv* as a dataframe called `sal`.

3. Show the first 5 rows of the DataFrame.

4. Show data type of each column, including how many entries there in each column.

5. What is the average BasePay ?

6. What is the highest amount of OvertimePay in the dataset ?

7. What is the job title of  **JOSEPH DRISCOLL** ?

8. How much does JOSEPH DRISCOLL make (including benefits)?

9. What is the name of highest paid person (including benefits)?

10. What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?

11. How many total number of rows per year in this dataset?

12. How many employees working as a **Clerk**? (not including other kinds of clerk)

13. What was the average (mean) BasePay of all employees per year? (2011-2014)

14. In 2014, how many employees having a TotalPay higher than the average TotalPay?

15. How many **unique** job titles are there?

16. What are the top 10 most common jobs?

17. What are the top 10 least common jobs?

18. Remove TotalPay Column.

19. Re-create TotalPay Column by calculating a sum of BasePay, OverTime Pay, and Other Pay.

20. Fill the missing values in Benefits column as 0

21. Sort the DataFrame by highest BasePay and Year in descending order.

22. Export the DataFrame to Excel file named "SF_salary" with sheet name "2011-2014"

23. [Difficult] How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurrence in 2013?)